
<div class="center">
     <h3 style="font-size: 12px; margin-top: 20px">

        Server time: {{server_timestamp}}         </h3>
</div>

    <div class="center">


        <h4 style="margin-bottom:0px">Find outputs associated with given monero address and viewkey</h4>
        <br/>

        <form action="/myoutputs" method="get" style="width:100%; margin-top:2px" class="style-1">
            <input type="text" name="xmr_address" size="100" placeholder="Monero address"><br/>
            <input type="text" name="viewkey" size="100" placeholder="viewkey" style="margin-top:5px"><br/>
            Since when: <select name="sincewhen">
                <option value="1">1 day</option>
                <option value="7">1 week</option>
                <option value="14">2 weeks</option>
                <option value="28">4 weeks</option>
            </select><br/>
            <input type="submit" value="Search outputs" style="margin-top:5px" >
        </form>

        <h4 style="margin-bottom:0px">Want to test it? Use official address and
            viewkey of <a href="https://github.com/monero-project/bitmonero#supporting-the-project">Monero donations</a>:</h4>
            <p style="font-size: 12px; text-align: center;">Address: 44AFFq5kSiGBoZ4NMDwYtN18obc8AemS33DBLWs3H7otXft3XjrpDtQGv7SqSsaBYBb98uNbr2VBBEt7f2wfn3RVGQBEP3A
                <br/>
               Viewkey: f359631075708155cc3d92a32b75a7d02a5dcf27756707b47a2b31b21c389501
            </p>
        <p style="font-size: 14px; text-align: center;">
            Hopefully there will be some donations to show you.
        </p>

        <br/>



    </div>
