
<div>
    <h3>Checking which outputs belong to the given address and viewkey</h3>
    <h5>address: {{xmr_address}}</h5>
    <h5>viewkey: {{viewkey}}</h5>



    <h3>Searching has started</h3>
    <div id="status"></div>

</div>

<script>
    $(document).ready(function() {
        setInterval("ajaxd()", 1000);
    });

    function ajaxd() {
        $.ajax({
            type: "GET",
            url: "/ajax_test",
            data: "uuid={{uuid}}",
            success: function(msg){
                $("#status").html(msg);
            }
        });
    }

    $(window).on("beforeunload", function() {
        $.ajax({
            type: "GET",
            data: "uuid={{uuid}}",
            url: "/finish_search"
        });
    })

</script>
